* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: black!important;
}

body {
    font-family: "Corbel Light";
    color: white;
    background-color: black;
    overflow-x: hidden;
}


/* -------------------------------------------NAVBAR---------------------------------------------------------- */

.navbar {
    position: absolute;
    padding: 60px;
    left: 0em;
    right: 0em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 5px solid rgba(141, 92, 83, 0.4);
    border-top: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar a img:hover {
    filter: invert(33%) sepia(100%) saturate(8);
}

.nav-link .a-home {
    color: white;
    font-size: 25px;
}

.a-home:hover {
    text-decoration: underline;
}


/* ---------------------------------------------------END NAVBAR------------------------------------------------- */


/* -------------------------------------------------HEADER-------------------------------------------------------- */

main {
    position: absolute;
    top: 0;
    left: 6%;
    right: 6%;
    height: auto;
    box-sizing: border-box;
    border: 2.5px solid rgba(141, 92, 83, 0.4);
    border-bottom: none;
    border-top: none;
}

.div-center {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 42%;
    top: 10em;
    font-size: 25px;
}

.bouttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
}

.bouttons a {
    color: white;
    margin: 1em;
    padding: 18px;
    font-family: "Arial Narrow";
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #b5675b 5%, #5b0005 95%);
}

.bouttons a:hover {
    background-image: linear-gradient(to right, rgba(187, 0, 0, 0.2) 5%, rgb(0, 0, 0) 95%);
}

.div-center .fleche {
    position: relative;
    top: 2.5em;
}

.div-center .fleche:hover {
    width: 78px;
    cursor: pointer;
}

.div-center p {
    font-size: 19px;
    color: rgb(209, 209, 209);
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 100vh;
    width: 102vw;
    background-image: url(Assets/Illustrations/Bathome1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 75%;
}


/* ------------------------------------------------END HEADER------------------------------------------ */


/* ----------------------------------------------------ASIDE--------------------------------------------- */

aside {
    position: fixed;
    top: 200px;
    right: 45px;
    z-index: 1;
}

.reseaux-socio {
    text-align: center;
}

aside a img:hover {
    filter: invert(33%) sepia(100%) saturate(8);
}


/* ----------------------------------------------END ASIDE--------------------------------------------- */


/* ------------------------------------------------MAIN------------------------------------------------- */

.container {
    position: initial;
    width: 100%;
    height: 44em;
    text-align: center;
}

.bloc {
    top: 10%;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

.bloc p {
    font-size: 20px;
    font-family: 'Candara';
    width: 80%;
    text-align: justify;
}

.bloc h1 strong {
    font-size: 32px;
}

.gallery {
    display: flex;
    text-align: center;
    grid-gap: 50px;
    flex-wrap: wrap;
}

.gallery-items img {
    width: 100%;
    height: auto;
}

.desc {
    font-size: 18px;
    font-family: "Arial narrow";
    letter-spacing: 0.5px;
    padding: 15px;
    text-align: center;
}

.nemesis {
    width: 150px;
}

.img-batman {
    width: 104vw;
    right: 9em;
    height: auto;
    position: relative;
    display: flex;
}

.img-batman img {
    width: 22em;
    margin-left: auto;
    display: flex;
    text-align: left;
    position: relative;
}

.img-batman h1 strong {
    position: relative;
    top: 6.6em;
    left: 4.5em;
}

.justice {
    width: 140vw;
    right: 9em;
    height: auto;
    position: relative;
    background-color: transparent;
}

.justice img {
    height: auto;
    width: 104vw;
}

.grid {
    position: static;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: flex;
}

.grid .col-1 {
    display: flex;
    width: 20%;
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid .col-2 {
    display: flex;
    width: 30%;
    height: 250px;
    background-color: rgb(0, 0, 0);
}

.grid .col-2 img {
    position: static;
    display: flex;
    width: 100%;
    height: auto;
}

.grid .col-3 {
    width: 70%;
    height: 250px;
}

.col-3 p {
    margin: 10px;
    width: 90%;
    font-size: 15px;
}

.col-3 p span {
    color: yellow;
    font-weight: bold;
}

.grid .col-4 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 250px;
}

.box {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(81, 120, 128);
    border-radius: 8px;
}

.video {
    position: static;
    display: flex;
    justify-content: center;
}

.video img {
    width: 60%;
    height: auto;
}


/* -----------------------------------------------FORMULAIRE--------------------------------------- */

#formulaire {
    width: 108vw;
    right: 9em;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #48453d 10%, #0f222c 90%);
}

#formulaire form {
    width: 600px;
    height: auto;
}

#formulaire form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#formulaire form label {
    font-size: 24px;
    font-weight: bold;
}

#formulaire form .f-control {
    padding: 0px;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom-style: outset;
    color: white;
    text-decoration: none;
}

.confirmation {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    font-size: 30px;
    padding: 8px;
    background-image: linear-gradient(to right, #787773 10%, #5b0f17 90%);
}

.btn:hover {
    background-image: linear-gradient(to right, rgba(187, 0, 0, 0.2) 10%, rgb(0, 0, 0) 90%);
}

.choice {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}

.choice span {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #295974;
    ;
}


/* POPUP */

.pop {
    margin: 30px auto;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.pop div {
    width: 600px;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    background-image: linear-gradient(to right, #48453d 10%, #0f222c 90%);
}

.pop div p {
    font-weight: bold;
}


/* ---------------------------------------------------FOOTER-------------------------------------------------- */

.gallery-items-foot {
    position: static;
    width: 100%;
    height: 200px;
}

footer .gallery .grid .col-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col-4 .ft {
    font-size: 12px;
}

.grid-ft {
    width: 25%;
    position: relative;
    height: auto;
    margin: 20px auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    top: -100px;
}

.grid-ft img {
    width: 30px;
    justify-content: space-between;
}

footer .gallery .grid .col-1 {
    display: flex;
    position: relative;
    align-items: baseline;
}

footer .gallery .grid .col-1 .guil2 {
    position: relative;
    top: 180px;
}

@media screen and (max-width:1270px) {
    .container {
        height: 48em;
    }
    .gallery {
        grid-gap: 38px;
    }
}

@media screen and (max-width:1134px) {
    .col-3 p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1019px) {
    .bouttons a {
        padding: 8px;
    }
    .grid-ft img {
        width: 18px;
    }
}

@media screen and (max-width:953px) {
    .navbar {
        padding: 35px;
    }
    aside a img {
        width: 4em;
    }
    .reseaux-socio a img {
        width: 1.2em;
    }
    .div-center p {
        font-size: 15px;
    }
    .div-center h1 {
        font-size: 22px;
    }
    .bouttons {
        font-size: 14px;
    }
    .div-center .fleche {
        width: 65px;
    }
    .container {
        height: 46em;
    }
    .bloc p {
        font-size: 16px;
    }
    .bloc h1 strong {
        font-size: 28px;
    }
    .gallery-items img {
        width: 90%;
    }
    .gallery-items {
        width: 28%;
    }
    .desc {
        font-size: 14px;
    }
    .nemesis {
        width: 130px;
    }
    .img-batman h1 strong {
        left: 5em;
    }
    .img-batman img {
        width: 20em;
    }
    .bloc p {
        font-size: 13px;
    }
    #formulaire {
        width: 112vw;
    }
    #formulaire form p {
        font-size: 24px;
    }
    #formulaire form label {
        font-size: 16px;
    }
    #formulaire form .f-control {
        font-size: 14px;
    }
    .btn {
        font-size: 20px;
    }
    footer .gallery .grid .col-1 a img {
        width: 3em;
    }
    .justice img {
        width: 110vw;
    }
}

@media screen and (max-width:849px) {
    .bloc p {
        font-size: 11px;
    }
    #formulaire form {
        width: 520px;
    }
    #formulaire form p {
        font-size: 20px;
    }
}

@media screen and (max-width:762px) {
    .bouttons a {
        padding: 4px;
        font-size: 11px;
    }
    #formulaire {
        width: 128vw;
    }
    footer .gallery .grid .col-4 p {
        font-size: 12px;
    }
}

@media screen and (max-width:653px) {
    .navbar a img {
        width: 60px;
    }
    .nav-link .a-home {
        font-size: 18px;
    }
    .div-center p {
        font-size: 12px;
    }
    .bloc p {
        font-size: 11px;
    }
    #formulaire form {
        width: 450px;
    }
    .choice span {
        padding: 8px;
    }
    #formulaire form p {
        font-size: 17px;
    }
    #formulaire form label {
        font-size: 13px;
    }
    #formulaire form .f-control {
        font-size: 13px;
    }
    .gallery {
        grid-gap: 35px;
    }
    .grid {
        width: 100%;
    }
}

@media screen and (max-width:614px) {
    .gallery {
        grid-gap: 30px;
    }
    .desc {
        font-size: 10px;
    }
    .div-center {
        width: 45%;
    }
    #formulaire form {
        width: 400px;
    }
    .choice span {
        padding: 4px;
        font-size: 12px;
    }
    .btn {
        font-size: 14px;
    }
    .img-batman {
        width: 110vw;
    }
    .bloc h1 strong {
        font-size: 22px;
    }
    .div-center .fleche {
        width: 48px;
    }
}

@media screen and (max-width:571px) {
    .bouttons a {
        padding: 3px;
        font-size: 8px;
    }
    .img-batman h1 strong {
        left: 6.5em;
    }
    .img-batman img {
        width: 16em;
    }
    .div-center {
        top: 8em;
    }
    .bloc p {
        font-size: 10px;
    }
    .nemesis {
        width: 95px;
    }
    #formulaire form {
        width: 332px;
    }
    .choice span {
        padding: 3px;
        font-size: 9px;
    }
    footer .gallery .grid .col-1 a img {
        width: 2em;
    }
    .grid-ft img {
        width: 13px;
    }
    .gallery .grid .col-1 a img {
        width: 12px;
    }
    .gallery .grid .col-1 a img {
        width: 26px;
    }
    .div-center p {
        font-size: 11px;
    }
    .div-center h1 {
        font-size: 20px;
    }
    #formulaire form {
        width: 280px;
    }
    .justice img {
        width: 116vw;
    }
}

@media screen and (max-width:506px) {
    .bloc p {
        font-size: 9px;
    }
    .gallery {
        grid-gap: 20px;
    }
    .div-center {
        width: 55%;
    }
}

@media screen and (max-width:428px) {
    .bloc p {
        font-size: 8px;
    }
}

@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
    }
    .navbar {
        height: 50px;
        border-bottom: 1px solid rgba(141, 92, 83, 0.4);
    }
    .navbar a img {
        width: 50px;
    }
    .nav-link .a-home {
        font-size: 15px;
    }
    .div-center {
        width: 60%;
        top: 6em;
        font-size: 25px;
    }
    .div-center p {
        font-size: 10px;
    }
    .div-center h1 {
        font-size: 18px;
        top: -20px;
    }
    .bouttons a {
        font-size: 6px;
        padding: 10px;
    }
    .div-center .fleche {
        width: 38px;
        top: 2em;
    }
    .bloc h1 strong {
        font-size: 10px;
    }
    .bloc {
        margin-left: 22px;
        margin-right: 22px;
    }
    .bloc p {
        font-size: 10px;
        width: 250px;
    }
    .desc {
        font-size: 4px;
    }
    .gallery {
        height: 125px;
        grid-gap: 16px;
    }
    .gallery-items img {
        width: 100%;
    }
    .nemesis {
        width: 65px;
    }
    .img-batman {
        width: 100vw;
        right: 2em;
    }
    .img-batman img {
        width: 8em;
    }
    .justice img {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: 100vw;
        display: flex;
        left: 22px;
    }
    .fleche-g-d {
        width: 14px;
    }
    .gallery .grid .col-4 {
        width: 125px;
    }
    footer .gallery {
        height: 180px;
    }
    footer .gallery .grid {
        height: 110px;
    }
    .grid {
        width: 100%;
    }
    .grid .col-1 {
        height: 125px;
    }
    .grid .col-3 {
        width: 70%;
        height: 125px;
    }
    .grid .col-2 {
        width: 30%;
        height: 125px;
        background-color: rgb(0, 0, 0);
    }
    .col-3 p {
        margin: 4px;
        font-size: 5px;
        width: 75px;
    }
    .video {
        position: relative;
        top: -20px;
    }
    #formulaire {
        right: 5em;
    }
    #formulaire form {
        width: 170px;
    }
    #formulaire form p {
        font-size: 14px;
    }
    #formulaire form label {
        font-size: 10px;
    }
    #formulaire form .f-control {
        font-size: 12px;
    }
    #formulaire form span {
        font-size: 9px;
    }
    .choice {
        margin-left: 0;
        margin-right: 0;
    }
    .btn {
        font-size: 10px;
    }
    .gallery-items-foot {
        position: static;
        width: 100%;
        height: 200px;
    }
    footer .gallery .grid .col-1 {
        position: static;
        width: 20%;
        height: 110px;
    }
    footer .gallery .grid .col-1 img {
        position: static;
        width: 20px;
    }
    footer .gallery .grid .col-4 p {
        font-size: 5px;
    }
    footer .gallery .grid .col-4 {
        height: 110px;
    }
    footer .gallery .grid .col-4 .wb {
        width: 10px;
    }
    .col-4 .ft {
        font-size: 12px;
    }
    .grid-ft {
        width: 50%;
        top: -110px;
    }
    .grid-ft img {
        width: 8px;
    }
    footer .gallery .grid .col-1 .guil2 {
        top: 90px;
    }
    .bouttons a {
        padding: 8px;
    }
}

@media screen and (max-width: 327px) {
    .bouttons a {
        padding: px;
        font-size: 5px;
    }
}

@media screen and (max-width:280px) {
    main {
        height: 416vh;
    }
    .navbar {
        padding: 8px;
        border-bottom: 2px solid rgba(141, 92, 83, 0.4);
    }
    .navbar a img {
        width: 2em;
    }
    .nav-link .a-home {
        font-size: 10px;
    }
    #header {
        height: 28vh;
        width: 100vw;
    }
    .div-center {
        top: 2.5em;
        width: 50%;
    }
    .div-center p {
        font-size: 6px;
    }
    .div-center h1 {
        font-size: 8px;
    }
    .bouttons {
        padding: 6px;
        font-size: 3px;
    }
    .bouttons a {
        padding: 4px;
    }
    .div-center .fleche {
        position: static;
        width: 16px;
    }
    aside {
        right: 4px;
        top: 65px;
    }
    aside a img {
        width: 2em;
    }
    .reseaux-socio a img {
        width: 0.5em;
    }
    .container {
        height: 14em;
    }
    .bloc {
        margin-left: 15px;
        margin-right: 15px;
    }
    .bloc h1 strong {
        font-size: 8px;
    }
    .bloc p {
        margin: 3px;
        font-size: 5px;
    }
    .desc {
        font-size: 3px;
    }
    .gallery {
        height: 125px;
        grid-gap: 16px;
    }
    .nemesis {
        width: 28px;
    }
    .img-batman {
        width: 100vw;
        right: 2em;
    }
    .img-batman img {
        width: 8em;
    }
    .justice img {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: 100vw;
        display: flex;
        left: 55px;
    }
    .fleche-g-d {
        width: 14px;
    }
    .grid {
        width: 100%;
    }
    .grid .col-1 {
        height: 125px;
    }
    .grid .col-3 {
        width: 70%;
        height: 125px;
    }
    .grid .col-2 {
        width: 30%;
        height: 125px;
        background-color: rgb(0, 0, 0);
    }
    #formulaire {
        width: 118%;
        right: 19px;
    }
    #formulaire form p {
        font-size: 8px;
    }
    #formulaire form .f-control {
        font-size: 6px;
        color: white;
        border-bottom: 0.1px solid #5a5353;
    }
    #formulaire form label {
        font-size: 5px;
    }
    #formulaire form {
        width: 10em;
    }
    form span {
        font-size: 4px;
    }
    input[type='checkbox'] {
        width: 6px;
    }
    .choice span {
        padding: 8px;
        border: 1px solid #295974;
    }
    .choice {
        margin-left: 0;
        margin-right: 0;
    }
    .btn {
        padding: 4px;
        font-size: 8px;
    }
    footer .gallery .grid .col-1 a img {
        width: 1em;
    }
    .col-4 .col-3 p {
        font-size: 5px;
    }
    .col-4 p {
        font-size: 6px;
    }
    footer .gallery {
        height: auto;
    }
    footer .gallery .grid .col-4 {
        height: auto;
    }
    footer .gallery .grid .col-1 .guil2 {
        top: 100px;
    }
    .col-4 .ft {
        font-size: 4px;
    }
    .grid-ft img {
        top: 38px;
        width: 6px;
        justify-content: space-between;
        position: relative;
    }
    .wb {
        width: 7px;
    }
}


/* -------------------------------------------------------------------------------- */