* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Corbel Light";
    color: white;
    background-color: black;
    overflow-x: hidden;
}


/* -------------------------------------------NAVBAR---------------------------------------------------------- */

.navbar {
    position: absolute;
    padding: 60px;
    left: 8em;
    right: 8em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid rgb(128, 77, 77);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link .a-home {
    color: white;
    font-size: 25px;
}

.a-home:hover {
    text-decoration: underline;
}


/* ---------------------------------------------------END NAVBAR------------------------------------------------- */


/* -------------------------------------------------HEADER-------------------------------------------------------- */

.div-center {
    position: relative;
    /* background-color: blue; */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 42%;
    top: 10em;
    font-size: 25px;
}

.bouttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
}

.bouttons a {
    color: white;
    margin: 1em;
    padding: 18px;
    font-family: "Arial Narrow";
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #b5675b 5%, #5b0005 95%);
}

.bouttons a:hover {
    background-image: linear-gradient(to right, rgba(187, 0, 0, 0.2) 5%, rgb(0, 0, 0) 95%);
}

.div-center .fleche {
    position: relative;
    top: 2.5em;
}

.div-center .fleche:hover {
    width: 78px;
    cursor: pointer;
}

.div-center p {
    font-size: 19px;
    color: rgb(209, 209, 209);
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(Assets/Illustrations/Bathome1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 75%;
}


/* ------------------------------------------------END HEADER------------------------------------------ */


/* ----------------------------------------------------ASIDE--------------------------------------------- */

aside {
    position: fixed;
    top: 200px;
    right: 30px;
    /* background-color: green; */
}

.reseaux-socio {
    text-align: center;
}


/* ----------------------------------------------END ASIDE--------------------------------------------- */


/* ------------------------------------------------MAIN------------------------------------------------- */

.bloc {
    position: static;
    /* background-color: blue; */
    margin-left: 100px;
    margin-right: 80px;
    height: auto;
}

.bloc p {
    font-size: 20px;
    font-family: 'Candara';
    width: 80%;
    text-align: justify;
}

.bloc h1 strong {
    font-size: 32px;
}

.gallery {
    display: flex;
    text-align: center;
    grid-gap: 70px;
    flex-wrap: wrap;
}

.gallery-items img {
    width: 100%;
    height: auto;
}

.desc {
    font-size: 18px;
    font-family: "Arial narrow";
    letter-spacing: 0.5px;
    padding: 15px;
    text-align: center;
}

.nemesis {
    width: 150px;
}

.img-batman {
    position: static;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    text-align: center;
    background-color: transparent;
    height: auto;
}

.img-batman img {
    width: 22em;
}

.img-batman h1 strong {
    position: relative;
    top: 6.6em;
    left: 3.1em;
}

.justice {
    position: static;
}

.justice img {
    width: 100%;
    height: auto;
}

.grid {
    position: static;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: flex;
}

.grid .col-1 {
    /* position: static; */
    display: flex;
    width: 20%;
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: #5b0005; */
}

.grid .col-2 {
    display: flex;
    width: 30%;
    height: 250px;
    background-color: rgb(0, 0, 0);
}

.grid .col-2 img {
    position: static;
    display: flex;
    width: 100%;
    height: auto;
}

.grid .col-3 {
    width: 70%;
    height: 250px;
}

.col-3 p {
    margin: 10px;
    width: 90%;
    font-size: 15px;
}

.col-3 p span {
    color: yellow;
    font-weight: bold;
}

.grid .col-4 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 250px;
    /* background-color: rgb(8, 21, 26); */
}

.box {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(81, 120, 128);
    border-radius: 8px;
}

.video {
    position: static;
    display: flex;
    justify-content: center;
}

.video img {
    width: 60%;
    height: auto;
}


/* -----------------------------------------------FORMULAIRE--------------------------------------- */

#formulaire {
    margin: 30px auto;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #48453d 10%, #0f222c 90%);
}

#formulaire form {
    width: 600px;
    height: 500px;
    /* background-color: aqua; */
}

#formulaire form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#formulaire form label {
    font-size: 24px;
    font-weight: bold;
}

#formulaire form .f-control {
    padding: 0px;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom-style: outset;
}

.confirmation {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    font-size: 30px;
    padding: 8px;
    background-image: linear-gradient(to right, #787773 10%, #5b0f17 90%);
}

.btn:hover {
    background-image: linear-gradient(to right, rgba(187, 0, 0, 0.2) 10%, rgb(0, 0, 0) 90%);
}

.choice {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}

.choice span {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #295974;
    ;
}


/* POPUP */

.pop {
    margin: 30px auto;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.pop div {
    width: 600px;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    background-image: linear-gradient(to right, #48453d 10%, #0f222c 90%);
}

.pop div p {
    font-weight: bold;
}


/* ---------------------------------------------------FOOTER-------------------------------------------------- */

.gallery-items-foot {
    position: static;
    width: 100%;
    height: 200px;
    /* background-color: #5b0f17; */
}

footer .gallery .grid .col-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col-4 .ft {
    font-size: 12px;
}

.grid-ft {
    width: 25%;
    position: relative;
    height: auto;
    margin: 20px auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    top: -100px;
}

.grid-ft img {
    width: 30px;
    justify-content: space-between;
}

footer .gallery .grid .col-1 {
    display: flex;
    position: relative;
    align-items: baseline;
}

footer .gallery .grid .col-1 .guil2 {
    position: relative;
    top: 180px;
}

@media screen and (max-width: 1074px) {
    .col-3 p {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    header {
        background-position: 75% 75%;
    }
    .navbar {
        position: absolute;
        padding: 40px;
        left: 6em;
        right: 6em;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border: 2px solid rgb(175, 194, 168);
    }
    .div-center {
        position: relative;
        /* background-color: blue; */
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 36%;
        top: 7em;
    }
    .a-home:hover {
        text-decoration: underline;
    }
    .div-center p {
        font-size: 18px;
    }
    .div-center h1 {
        font-size: 22px;
    }
    .bouttons a {
        font-size: 10px;
    }
    .div-center .fleche {
        position: relative;
        top: 4em;
    }
    .div-center .fleche:hover {
        width: 78px;
        cursor: pointer;
    }
    .bloc p {
        font-size: 20px;
        width: 90%;
    }
    #formulaire form label {
        font-size: 16px;
    }
    #formulaire form .f-control {
        padding: 0px;
        font-size: 14px;
        width: 100%;
    }
    .btn {
        font-size: 20px;
    }
    .choice span {
        padding: 8px;
        font-size: 12px;
    }
    #formulaire form {
        width: 450px;
    }
    #formulaire form p {
        font-size: 20px;
    }
}

@media screen and (max-width: 823px) {
    .col-3 p {
        font-size: 9.5px;
    }
    footer .gallery .grid .col-1 img {
        width: 60px;
    }
}

@media screen and (max-height: 660px) {
    .navbar {
        height: 130px;
    }
    .div-center {
        top: 233px;
    }
    .div-center .fleche {
        position: relative;
        top: 1em;
    }
    .div-center p {
        position: relative;
        top: -20px;
    }
    .div-center h1 {
        position: relative;
        top: -30px;
        font-size: 28px;
    }
    .bouttons a {
        font-size: 10px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        position: absolute;
        padding: 15px;
        left: 2em;
        right: 2em;
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        box-sizing: border-box;
        border: 2px solid rgb(175, 194, 168);
        height: 70px;
    }
    .navbar a img {
        width: 60px;
    }
    .a-home {
        font-size: 15px;
    }
    .a-home:hover {
        text-decoration: underline;
    }
    .div-center {
        position: relative;
        /* background-color: blue; */
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 36%;
        top: 6em;
    }
    .div-center p {
        font-size: 13px;
    }
    .div-center h1 {
        font-size: 16px;
    }
    .bouttons {
        width: 220px;
        right: 40px;
    }
    .bouttons a {
        font-size: 8px;
    }
    .div-center .fleche {
        position: relative;
        top: 3em;
        width: 50px;
    }
    .div-center .fleche:hover {
        width: 58px;
        cursor: pointer;
    }
    aside {
        top: 150px;
    }
    aside a img {
        width: 50px;
    }
    aside div img {
        width: 20px;
    }
    .bloc p {
        font-size: 15px;
        font-family: 'Candara';
        width: 80%;
        text-align: justify;
    }
    .bloc h1 strong {
        font-size: 20px;
    }
    /* .gallery img {
        width: 235px;
    } */
    .desc {
        font-size: 14px;
    }
    .bloc {
        margin-left: 70px;
        margin-right: 15px;
    }
    .img-batman img {
        width: 10em;
    }
    .img-batman h1 strong {
        position: relative;
        top: 2.1em;
        left: 2.6em;
    }
    .col-3 p {
        margin: 4px;
        font-size: 10px;
        width: 122px;
    }
}

@media screen and (max-width: 414px) {
    .col-3 p {
        margin: 4px;
        font-size: 8px;
        width: 90px;
    }
    .bouttons {
        top: 45px;
    }
    .div-center .fleche {
        top: 5em;
    }
    #formulaire form {
        width: 340px;
    }
    .choice {
        margin-left: 30px;
        margin-right: 40px;
    }
    footer .gallery .grid .col-1 img {
        width: 35px;
    }
    footer .gallery .grid .col-4 p {
        font-size: 10px;
    }
    .grid-ft img {
        width: 18px;
    }
    .grid-ft {
        width: 40%;
    }
}

@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
    }
    .navbar {
        left: 2em;
        right: 2em;
        height: 50px;
    }
    .nav-link .a-home {
        font-size: 15px;
    }
    .div-center {
        width: 60%;
        top: 6em;
        font-size: 25px;
    }
    .div-center p {
        font-size: 10px;
    }
    .div-center h1 {
        font-size: 18px;
        top: -20px;
    }
    .bouttons {
        right: 26px;
    }
    .bouttons a {
        font-size: 7px;
    }
    .div-center .fleche {
        width: 45px;
        top: 2em;
    }
    .bloc {
        margin-left: 22px;
        margin-right: 22px;
    }
    .bloc p {
        font-size: 12px;
        width: 250px;
    }
    .gallery {
        grid-gap: 25px;
    }
    .gallery-items img {
        width: 50%;
    }
    .desc {
        font-size: 10px;
    }
    .nemesis {
        width: 75px;
    }
    .img-batman h1 strong {
        top: 2.8em;
        left: 0.8em;
        font-size: 26px;
    }
    .gallery .grid .col-4 {
        width: 125px;
    }
    footer .gallery {
        height: 180px;
    }
    footer .gallery .grid {
        height: 110px;
    }
    .grid {
        height: 140px;
    }
    .grid .col-1 {
        height: 130px;
        width: 0px;
    }
    .grid .col-2 {
        height: 130px;
    }
    .grid .col-3 {
        height: 130px;
    }
    .col-3 p {
        margin: 4px;
        font-size: 5px;
        width: 75px;
    }
    .video {
        position: relative;
        top: -20px;
    }
    #formulaire form {
        width: 170px;
    }
    #formulaire form p {
        font-size: 14px;
    }
    #formulaire form label {
        font-size: 10px;
    }
    #formulaire form .f-control {
        font-size: 12px;
    }
    #formulaire form span {
        font-size: 9px;
    }
    .choice {
        margin-left: 0;
        margin-right: 0;
    }
    .btn {
        font-size: 10px;
    }
    .gallery-items-foot {
        position: static;
        width: 100%;
        height: 200px;
    }
    footer .gallery .grid .col-1 {
        position: static;
        width: 20%;
        height: 110px;
    }
    footer .gallery .grid .col-1 img {
        position: static;
        width: 20px;
    }
    footer .gallery .grid .col-4 p {
        font-size: 5px;
    }
    footer .gallery .grid .col-4 {
        height: 110px;
    }
    footer .gallery .grid .col-4 .wb {
        width: 10px;
    }
    .col-4 .ft {
        font-size: 12px;
    }
    .grid-ft {
        width: 50%;
        top: -110px;
    }
    .grid-ft img {
        width: 8px;
    }
    footer .gallery .grid .col-1 .guil2 {
        top: 90px;
    }
}